<div class="remodal" 
     data-remodal-id="modal"
     data-remodal-options="hashTracking: false, closeOnOutsideClick: false, closeOnEscape: false" >
    
   

    <i class="fa fa-check-circle fa-4x" aria-hidden="true"></i>
    
    <br /><br /><h2>Please wait!</h2>
    <br /> Redirecting to your home page. 
    <br /><br /> 
 
    <button data-remodal-action="cancel" class="remodal-confirm btn btn-success" type="button">Take me to my account</button>
   
    <br /><br />

</div>
