@model SANSurveyWebAPI.ViewModels.Web.KidsFeedbackVM
@{
    if (!Request.IsAjaxRequest())
    {
        Layout = "~/Views/Shared/_LayoutKids.cshtml";
        ViewBag.Title = "Survey: Feedback";
    }
}

@using (Html.BeginForm("Feedback", "Kids", FormMethod.Post, new
{ name = "frmFeedback", id = "frmFeedback", @class = "" }))
{
    @Html.HiddenFor(model => model.Uid, new { @id = "txtuid" })

    <div class="panel panel-default" id="Tasks">
        <div class="panel-heading">
            <h3>
                Feedback
            </h3>
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @Html.TextAreaFor(model => model.Comment, htmlAttributes: new { @class = "form-control", @rows = 10, @placeholder = "Leave your comments..." })
                </div>
            </div>
        </div>
        <center>
            <div style="padding:10px">
                <button class="btn btn-success btn-lg" id="btnNext" type="submit">Submit Feedback and view Summary&nbsp;&nbsp;<i class="fa fa-angle-right" aria-hidden="true"></i></button>
            </div>
        </center>
    </div>
    @Html.Partial("_DialogLoop")
    @Html.Partial("_FooterSurvey")
}
<script src="~/Scripts/StopBack/StopBackBrowserButton.js"></script>
<script>
    var options = { closeOnOutsideClick: false, hashTracking: false, closeOnEscape: false };
    var dialogComplete = $('[data-remodal-id=DialogLoop]').remodal(options);

    $(document).ready(function () {
        $('#btnNext').on("click", function (e) {
            e.preventDefault();
            $('#frmFeedback').submit();
        });
    });
</script>
