@{
    ViewBag.Title = "Upload BirthYears";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Upload BirthYears</h2>

@using (Html.BeginForm("Upload", "BirthYears", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="Upload File" />
}
