<div class="remodal" data-remodal-id="DialogTask" id="DialogTask">
    <button data-remodal-action="close" class="remodal-close"></button>

    <i class='fa fa-flask fa-3x'></i>
    <br /><br />Your answers are valuable to improve our study.
    <br /><br /> Please select <u>one</u> task.
 
    <br /><br />
    <button data-remodal-action="cancel" class="remodal-confirm btn btn-success" type="button">OK</button>
   </div>
