<div class="remodal" data-remodal-id="DialogTaskTime" id="DialogTaskTime">
    <button data-remodal-action="close" class="remodal-close"></button>

    <i class='fa fa-flask fa-3x'></i>
    <br /><br />Your answers are valuable to improve our study.
    <br /><br />The maximum number of hours should be 4 hours and 0 minutes.
   
    <br /><br />
    <button data-remodal-action="cancel" class="remodal-confirm btn btn-success" type="button">OK</button>
 </div>
