<div class="remodal"
     data-remodal-id="_DialogTaskTime"
     id="_DialogTaskTime">
    <button data-remodal-action="close"
            class="remodal-close"></button>

    <i class='fa fa-info-circle fa-3x'></i>
    <br /><br />The total percentage of each actual and desired must add upto 100%.
    <br /><br />Please check if the final percentages for each total is 100% respectively.
    <br>
    <br>
    <button data-remodal-action="cancel" class="remodal-confirm btn btn-success" type="button">OK</button>
    <br /><br />
</div>
