<div class="remodal" data-remodal-id="_DialogRosterPastDateSelected" id="_DialogRosterPastDateSelected">
    <button data-remodal-action="close" class="remodal-close"></button>

    <i class='fa fa-exclamation-triangle fa-3x'></i>
    <br /><br />Please ensure you enter roster details for tomorrow onwards. 
    <br>
    <br>
    <button data-remodal-action="cancel" class="remodal-confirm btn btn-success" type="button">OK</button>
    <br /><br />
</div>
