<div class="remodal" data-remodal-id="_DialogCalendarErrorSurveyCreatedDelete" id="_DialogCalendarErrorSurveyCreatedDelete">
    <button data-remodal-action="close" class="remodal-close"></button>

    <i class='fa fa-flask fa-3x'></i>
    <br /><br />Unable to delete this time slot as there is a survey.  
    <br>
    <br>
    <button data-remodal-action="cancel" class="remodal-confirm btn btn-success" type="button">OK</button>
    <br /><br />
</div>
