<div class="remodal" 
     data-remodal-id="DialogHelpComplete"
      id="DialogHelpComplete"
     data-remodal-options="hashTracking: false, closeOnOutsideClick: false, closeOnEscape: false" >

    <i class="fa fa-check-circle fa-4x" aria-hidden="true"></i>
    
    <br /><br /><h2>Thank you!</h2>
    <br /> Your feedback has been sent.
    <br /><br />
    
    <button data-remodal-action="cancel" class="remodal-confirm btn btn-success" type="button">OK</button>
    <br /><br />

</div>
