<div class="remodal" data-remodal-id="DialogTaskTime" id="DialogTaskTime">
    <button data-remodal-action="close" class="remodal-close"></button>

    <i class='fa fa-flask fa-3x'></i>
    <br /><br />Your answers are valuable to improve our study.
    <br /><br />The maximum number of hours should be 4 hours and 0 minutes.
    @*<h1>Remodal</h1>
        <p>
            Flat, responsive, lightweight, fast, easy customizable modal window plugin
            with declarative state notation and hash tracking.
        </p>
        <p>
            Minified version size: ~4kb
        </p>*@
    <br /><br />
    <button data-remodal-action="cancel" class="remodal-confirm btn btn-success" type="button">OK</button>
    @*<br /><br />
    <a data-remodal-action="confirm" class="remodal-cancel" href="#">No, continue to Next</a>*@
</div>
