@{
    Layout = null;
    ViewBag.Title = "Privacy";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy - @SANSurveyWebAPI.Constants.AppHeader</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Login2.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />


</head>
<body class="loginBody">
    <div class="container TextAlignCenter">

        <div class="col-lg-4 col-md-3 col-sm-2"></div>
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="row loginbox">

                <h1>
                    <span class="fa fa-comments" />
                </h1>

                <h3>
                    Privacy
                </h3>

                <hr />
                @*<h3>
                        MyDay Surveys
                    </h3>*@

                <div class="panel-default">
                    <h4>
                        <i class="fa fa-phone" aria-hidden="true"></i> 0800 888888
                    </h4>

                    <h4>
                        <i class="fa fa-envelope" aria-hidden="true"></i> surveymyday@gmail.com

                    </h4>
                </div>
                <hr />

                <h6>
                    MyDay Survey
                    <br />
                    Centre for Social Data Analytics
                    <br /> Auckland, New Zealand
                </h6>

            </div>
            @Html.Partial("_Footer")






        </div>
    </div>



    <div class="col-lg-4 col-md-3 col-sm-2"></div>





</body>
</html>


