<br />
<footer class="footer">
    <a href='~/'>Home</a> |
    <a target="_blank" href='/#faq'>FAQ</a> |
    <a target="_blank" href='https://heeoe.hee.nhs.uk/recruitment_privacy_data'>Privacy Policy</a> | 
    <a target="_blank" href='/#contact'>Contact us</a> @*|*@ 
    <p>© @DateTime.Now.Year @SANSurveyWebAPI.Constants.AppFooter </p>
</footer>