@model SANSurveyWebAPI.Models.PasswordResetEmail

Content-Type: text/plain; charset=utf-8

<html>
<body style="font-family:Arial, Helvetica, sans-serif;">
    <table class="table-responsive" style="padding:10px;
        background-color:#d5f2f2">
        <tr>
            <td style="background-color:rgb(47, 159, 173)">
                @*@Html.EmbedImage("~/images/Email/header.png")*@
                @Html.EmbedImage("~/images/Email/WAM_header.png")
            </td>
        </tr>

        <tr>
            <td>
                <div style="margin:0px;
                background-color:white;padding-left:15px;
                padding-right:10px;padding-top:10px;padding-bottom:10px;">
                    <center>

                        <p style="color:#008080;font-size:18px;">
                            The password for your account has just been reset.
                        </p>

                        <p style="color:#008080;font-size:14px;font-weight:bold">
                            If you did not perform a password reset, please contact our support team.&nbsp;
                        </p>
                        <a target="_blank"
                           href=@Model.Message
                           style="background:azure;
                            padding-bottom:20px;padding-top:20px;
                            padding-left:40px; padding-right:40px;
                            text-align:center; text-decoration: none;
                            display: inline-block;font-size: 16px;
                            border: solid;border-color:#008080;border-radius:5px;
                            color:#008080;">Contact us</a>
                    </center>
                    <hr />
                </div>
                <div style="background-color:white;text-align:right">
                    @*@Html.EmbedImage("~/images/Email/footer.png")*@
                    @Html.EmbedImage("~/images/Email/warrenmahony_header.png")
                </div>

            </td>
        </tr>
    </table>
</body>
</html>