<div class="remodal" id="_DialogPersonalRequired" data-remodal-id="_DialogPersonalRequired"
     >
    <button data-remodal-action="close" class="remodal-close"></button>

    @*<i class='fa fa-exclamation-triangle fa-3x'></i>*@



    <br /><br /> There are <span style='color:#ff0000'><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span>&nbsp;required field(s) to be filled.
    @*<h1>Remodal</h1>
        <p>
            Flat, responsive, lightweight, fast, easy customizable modal window plugin
            with declarative state notation and hash tracking.
        </p>
        <p>
            Minified version size: ~4kb
        </p>*@
    <br>
    <br>
    <br>
    <button data-remodal-action="cancel" class="remodal-confirm btn btn-success" type="button">OK, got it</button>
</div>
