<div class="remodal" 
     data-remodal-id="modal"
     data-remodal-options="hashTracking: false, closeOnOutsideClick: false, closeOnEscape: false" >
    
    @*<button data-remodal-action="close" class="remodal-close"></button>*@

    <i class="fa fa-check-circle fa-4x" aria-hidden="true"></i>
    
    <br /><br /><h2>Please wait!</h2>
    <br /> Redirecting to your home page. 
    <br /><br /> @*<h1>Remodal</h1>
        <p>
            Flat, responsive, lightweight, fast, easy customizable modal window plugin
            with declarative state notation and hash tracking.
        </p>
        <p>
            Minified version size: ~4kb
        </p>*@
 
    <button data-remodal-action="cancel" class="remodal-confirm btn btn-success" type="button">Take me to my account</button>
    @*<br /><br />
    <a data-remodal-action="confirm" class="remodal-cancel" href="#">I will come back later</a>*@
    <br /><br />

</div>
