<div class="remodal" 
     data-remodal-id="_DialogScreeningExt" 
     id="_DialogScreeningExt">
    <button data-remodal-action="close" class="remodal-close"></button>

    <i class='fa fa-info-circle fa-3x'></i>
    <br /><br />Please complete the required field(s).  
    <br>
    <br>
    <button data-remodal-action="cancel" class="remodal-confirm btn btn-success" type="button">OK</button>
    <br /><br />
</div>
