<div class="remodal" data-remodal-id="_DialogPlacement"
     id="_DialogPlacement">

    <button data-remodal-action="close" class="remodal-close"></button>

    <i class='fa fa-flask fa-3x'></i>
    <br /><br />Your answers are valuable to improve our study.
    <br /> However, there are <span style='color:#ff0000'><i class="fa fa-info-circle" aria-hidden="true"></i></span>&nbsp;incomplete field(s).
    <br /><br />Would you like to respond to unfilled field(s)?
    <br>
    <button data-remodal-action="cancel" class="remodal-confirm btn btn-success" type="button">Yes, I would like to complete</button>
    <br /><br />
    <a data-remodal-action="confirm" class="remodal-cancel" href="#">No, continue to Next</a>
</div>
